* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    background-color: antiquewhite;
}

main {
    height: 100%;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    background: linear-gradient(to right, blue, white, white, red);
}

form {
    /*
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 30px;
    */
    margin: auto;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    box-shadow: 10px 10px 10px black;
}

table {
    position: relative;
    border: 1px solid black;
    padding: 5px;
    max-width: 50vw;
    height : auto;
    left: auto;
    text-align: center;
    top: 300px;
    background-color: lightgrey;
    overflow-x:scroll;
    border-collapse: collapse;
}


tr:last-child{
    border-bottom: none;
}

th, td {
    width:25%;
    border: 1px solid black;
    padding: 2px;
    border-collapse: collapse;
}

th, td, tr {
    text-align: center;
}


#poti {
    display: block;
    /*margin: 20px 10px 0px;*/
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 90px;
    box-shadow: 10px 10px 10px darkgrey;
}

/*#container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}*/

.form-content{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 0px 10px;
}

input[type=text], input[type=email], select{
    border: none;
    width:20%;
    height: 20%;
    color: black;
    font-weight: bold;
    font-size:100%;
    border-radius: 10px;
    caret-color: white;
    border-bottom: 2px solid grey;
}

input[type=submit], input[type=button] {
    width: auto;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 100%;
    cursor:pointer;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px grey;
    background-color: lightcyan;
}

input:invalid{
    border-bottom: 2px solid red;
}

input[type=submit]:hover, input[type=button]:hover{
    background: linear-gradient(to right, lightcoral, lightsalmon, lightgoldenrodyellow, lightgreen, lightcyan, lightblue,lightpink);
    color:black;
}

.disabled {
    background-color: red;
}

@media screen and (max-width: 500px) {

    * {
        font-size: 10px;
    }

    .form-content {
        display: flex;
        flex-direction:column;
    }

    input[type=text], input[type=email], select {
        width: 100%;
        padding: 2%;
        margin-bottom: 10px;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }
}
